html, body {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    /* width: 100%; */
    margin: 5px;
    padding: 0px;
    font-family: 'Times New Roman';
  }
  
  
  .profile-picture {
    /* border-radius: 50%; */
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
  }
  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: middle;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 30px;
    transition: 0.3s;
    font-size: 16pt;
    font-family: 'Times New Roman';
    font-weight: bold;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    background-color: skyblue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.table {
    width: 750t;
    border-spacing: 30px 5px;

    text-align: left;
}
.td{
    width: 50%;
}
div.sk {
    text-indent: 40px;
}