<div class="publications">
  <h2>selected publications</h2>
    <div style="display: inline-block;">
    <span class="noborderimg">
    <a class="project-img" href="https://wenjietseng.github.io/projects/SkinStrokeDisplay">
    <img style="border-radius: 10px;" src="assets/img/skin-stroke2.jpg">
    </a>
    </span>
    <span>
    <center>Skin-Stroke Display</center>
    <center>CHI 2020</center>
    </span>
    </div>

    <div style="display: inline-block;">
    <span class="noborderimg" >
    <a class="project-img" href="https://wenjietseng.github.io/projects/FaceWidgets">
    <img style="border-radius: 10px;" src="assets/img/facewidgets.JPG">
    </a>
    </span>
    <span>
    <center>FaceWidgets</center>
    <center>UIST 2019</center>
    </span>
    </div>

    <div style="display: inline-block;">
    <span class="noborderimg">
    <a class="project-img" href="https://wenjietseng.github.io/projects/FacePush">
    <img style="border-radius: 10px;" src="assets/img/facepush.png">
    </a>
    </span>
    <span>
    <center>FacePush</center>
    <center>UIST 2018</center>
    </span>
    </div>
  {% comment %} {% bibliography -f papers -q @*[selected=true]* %} {% endcomment %}
</div>
